<!--add button, clear completed, list of tasks with checkbox-->
<!--created by bryce groesbeck-->
<div class="wrapper" ng-if="$ctrl.todo">
    <div class="list">
        <div >
            <input ng-model="$ctrl.todo.listName" id="listName" placeholder="List Name"/>


            <br>

            <div class="col-sm-12">
                <button class="btn-primary btn-sm" ng-click="$ctrl.add()">Add New Task</button>
            </div>
            <br>
            <div class="col-sm-12">
                <button class="btn-danger btn-sm" ng-click="$ctrl.clear()">Clear Checked</button>

            </div>
            <br>

            <div ng-repeat="task in $ctrl.todo.list"><input ng-model="task.completed" type="checkbox"/><input
                    id="taskName"
                    placeholder="Task Name" ng-model="task.name"/>
                <button class="glyphicon glyphicon-trash" ng-click="$ctrl.remove($index)"></button>
            </div>

            <!--created by bryce groesbeck-->
        </div>
    </div>
</div>
<!--created by bryce groesbeck-->