<!--add button, clear completed, list of tasks with checkbox-->
<!--created by bryce groesbeck-->
<div class="wrapper">
    <div class="list">
        <div>
            <input title="Give your list a name" id="listName" placeholder="Enter List Name"/>

            <div class="col-sm-12">
                <button class="btn-warning btn-sm" ng-click="$ctrl.newList()">Create New List</button>
                <!--created by bryce groesbeck-->
            </div>
            <br>

            <div class="col-sm-12">
                <button class="btn-primary btn-sm" ng-click="$ctrl.add()">Add New Task</button>
            </div>
            <br>
            <div class="col-sm-12">
                <button class="btn-danger btn-sm" ng-click="$ctrl.clear()">Clear Checked</button>

            </div>
            <br>

            <div ng-repeat="toDo in $ctrl.todoModel.list"><input title="Mark Complete" ng-model="toDo.completed"
                                                                 type="checkbox"/>
                <input id="taskName"
                       placeholder="Enter Task Name" ng-model="toDo.name"/>
                <span title="Delete Task" class="glyphicon glyphicon-trash" ng-click="$ctrl.remove($index)"></span>
            </div>

            <!--created by bryce groesbeck-->
        </div>
    </div>
</div>
<!--created by bryce groesbeck-->
